/* Start Global Variables */
:root {
    --mainColor: rgb(16, 202, 183);
    --secondaryColor: rgb(36, 72, 79);
    --spaceBetweenSections: 60px;
    --borderRadius: 5px;
}
/* End Global Variables */

/* Start Global Rules */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: capitalize;
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", "Sans-serif";
    position: relative;
}

body .scroller {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 5px;
    width: 0px;
    background-color: var(--mainColor);
}

body .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    position: fixed;
    
    background-color: rgba(36, 72, 79, 0.7);
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

body .icon .special-icon {
    color: var(--mainColor);
}

.special-heading {
    font-size: 70px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.05);
    text-align: center;
    margin: 0;
}


.render-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.render-links {
    text-decoration: none;
    color: black;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* Phones */

@media (max-width: 767px) {
    header .container .links {
        width: 30px !important;
    }

    header .container .links ul {
        display: none;
    }

    /* show the nav bar after hovering */
    header .container .links:hover ul {
        display: block;
        position: absolute;
        background-color: var(--secondaryColor);
        top: calc(100%);
        right: 0;
        min-width: 110px;
        border-radius: var(--borderRadius);
        padding: 5px 0;
    }

    header .container .links:hover ul li:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    header .container .links ul li {
        padding: 5px 0 5px 12px;
        position: relative;
        border: none;
    }

    header .container .links ul li a::before {
        content: '';
        position: absolute;
        left: 7px;
        top: 15%;
        height: 19px;
        width: 1px;
        background-color: var(--mainColor);
    }

    header .container .links ul li a {
        transition: 0.4s;
        color: white;
    }

    header .container .links ul li:hover a {
        padding-left: 10px;
        color: var(--mainColor);
    }

    header .span-parent {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 30px;
        height: 25px;
        align-items: center;
    }
    
    header .span-parent span {
        background-color: rgba(0, 0, 0, 0.85);
        height: 8%;
        width: 100%;
    }
    
    header .span-parent span:nth-child(2) {
        width: 65%;
        transition: width 0.3s;
    }
    
    header .links:hover span:nth-child(2) {
        width: 100%;
    }

    .serv-collection {
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .serv-collection::after {
        content: "";
        position: absolute;
        width: 0 !important;
        height: 0 !important;
    }

    .portf img {
        height: 300px !important;
    }

    .about .about-collection .about-text {
        text-align: center;
    }
}

/* Small Screens */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }

    header .container {
        padding: 0;
    }

    .serv-collection {
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .serv-collection .serv {
        width: 80%;
        margin: auto;
    }

    .about .about-collection .about-text {
        text-align: center;
    }

    .about .about-collection .image {
        margin: 0 auto 20px;
        height: 400px !important;
        width: 400px !important;
    }

    .about .about-collection .image::after {
        content: "";
        position: absolute;
    }
}

/* Medium Screens */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screens */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    .serv-collection::before {
        content: "";
        background-image: url('../images/web-design.jpg');
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% / 3 - 15px);
        height: 100%;
    }
}
/* End Global Rules */

/* Start Header */

header {
    padding: 15px;
}

header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    width: 60px;
}

header .container .links {
    width: 38%;
    position: relative;
}

ul {
    display: flex;
    justify-content: space-between;
}

header .container .links a:hover {
    color: var(--mainColor);
}

/* End header */

/* start landind */
.landing {
    background-image: url('../images/landing-background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.landing .intro-text {
    text-align: center;
}

.landing .intro-text h1 {
    color: var(--mainColor);
    letter-spacing: 2px;
    font-weight: 800;
}
/* end landing */

/* start features */
.features {
    padding-top: var(--spaceBetweenSections);
    padding-bottom: var(--spaceBetweenSections);
    background-color: #eee;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .container .feat {
    background-color: white;
    border-radius: var(--borderRadius);
    padding: 10px;
    text-align: center;
}

.features .container .feat i {
    color: var(--mainColor);
    font-size: 40px;
}

.features .container .feat p {
    margin: 0;
    line-height: 160%;
    color: #777;
}
/* end features */

/* start services */
.services {
    padding-top: var(--spaceBetweenSections);
    padding-bottom: var(--spaceBetweenSections);
    /* position: relative; */
}

.services .container .serv-collection {
    padding: 20px;
    margin-top: var(--spaceBetweenSections);
    background-color: rgb(242, 242, 242);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    position: relative;
    border-radius: var(--borderRadius);
}

.services .container .serv-collection .serv {
    margin-bottom: 40px;
}

.services .container .serv-collection::after {
    content: "";
    position: absolute;
    height: 110%;
    width: 105%;
    border-radius: var(--borderRadius);
    background-color: var(--mainColor);
    background-image: linear-gradient(
        to bottom,
        var(--secondaryColor) 20%,
        var(--mainColor)
    );
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: -1;
}



.services .serv-collection .col .serv i {
    color: var(--mainColor);
}

.services .serv-collection .col .serv p {
    margin: 0;
    font-size: 15px;
    color: #777;
}

.services .serv-collection .col .serv:first-child {
    margin-bottom: 30px;
}
/* end services */

/* start portfolio */
.portfolio {
    padding-top: var(--spaceBetweenSections);
    padding-bottom: var(--spaceBetweenSections);
    background-color: #eee;
}

.portfolio .container .portfolio-collection {
    margin-top: var(--spaceBetweenSections);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px
}

.portfolio .container .portfolio-collection .portf {
    background-color: white;
    border-radius: var(--borderRadius);
}

.portfolio img {
    height: 180px;
    width: 100%;
    border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

.portfolio .container .portfolio-collection .portf p,
.portfolio .container .portfolio-collection .portf h3 {
    margin: 0;
    padding: 10px;
}

.portfolio .container .portfolio-collection .portf p {
    color: #777;
}
/* end portfolio */

/* start about */
.about {
    padding-top: var(--spaceBetweenSections);
    padding-bottom: var(--spaceBetweenSections);
}

.about .about-collection {
    margin-top: var(--spaceBetweenSections);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;
}

.about .about-collection .image {
    width: 70%;
    height: 100%;
    position: relative;
}

.about .about-collection img {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: var(--borderRadius);
}

.about .about-collection .image::after {
    content: "";
    position: absolute;
    height: 120%;
    width: 120%;
    /* background-color: var(--mainColor); */
    background-image: linear-gradient(
        to bottom,
        var(--mainColor),
        var(--secondaryColor)
    );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: var(--borderRadius);
}

.about .about-collection .about-text p:first-of-type {
    font-weight: 700;
}

hr {
    width: 50%;
    padding: 0.5px 0;
    background-color: var(--mainColor);
}
/* end about */

/* start contact */
.contact {
    padding-top: var(--spaceBetweenSections);
    padding-bottom: var(--spaceBetweenSections);
    background-color: #eee;
}

.contact .container .contact-collection {
    margin-top: var(--spaceBetweenSections);
    text-align: center;
}

.contact .contact-collection h3 {
    color: var(--secondaryColor);
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
}

.contact .contact-collection h3 + p {
    margin-top: 0;
    margin-bottom: 35px;
    color: var(--mainColor);
    font-size: 20px;
    font-weight: 700;
}

.contact .contact-collection .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .contact-collection .social-media p {
    margin-right: 20px;
}

.contact .contact-collection .social-media .social-icons i {
    margin: 0 4px;
    font-size: 18px;
}

.contact .social-media .social-icons i:first-child {
    color: blue;
}

.contact .social-media .social-icons i:nth-child(2) {
    color: #00acee;
}

.contact .social-media .social-icons i:last-child {
    color: #0072b1;
}
/* end contact */

/* start footer */
footer {
    background-color: var(--secondaryColor);
    padding: 20px 10px;
    text-align: center;
}

footer p {
    margin: 0;
    color: white;
}

footer p span {
    color: var(--mainColor);
    font-weight: bold;
}
/* end footer */